<div class="row justify-content-center py-2 my-1" *ngIf="showTask">
    <div id="task" class="col-6 border rounded pt-2 mb-4">
      <h4 class="text-center">{{task.title}}</h4>
      <p class="text-center">{{task.description}}</p>
      <p class="text-center">
        <button class="btn btn-warning mx-2" (click)="showUpdateForm()">EDIT</button>
        <button class="btn btn-danger mx-2" (click)="deleteTask(task._id)">DELETE</button>
        <button class="btn btn mx-2" (click)="hideTask()">HIDE</button>
      </p>
    </div>
</div>
<div class="row justify-content-center py-2 my-1" *ngIf="updateForm">
    <div id="updateTask" class="col-6 border rounded pt-2 mb-4 bg-white">
        <h4 class="text-center">Edit: {{task.title}}</h4>
        <form (submit)="updateTask()">
        <div class="row justify-content-center py-2">
            <input type="hidden" value="{{task._id}}" />
            <label for="title" class="mx-2">Title</label>
            <input type="text" class="mr-3" name="task.title" [(ngModel)]="task.title" />
            <label for="description" class="ml-3">Description</label>
            <input type="text" class="mx-2" name="task.description" [(ngModel)]="task.description" />
        </div>
        <div class="row justify-content-center mt-2 mb-4">
            <input type="submit" class="btn btn-warning mx-2" value="UPDATE" />
            <button class="btn mx-2" (click)="hideUpdateForm()">CANCEL</button>
        </div>
        </form>
    </div>
</div>
