<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/index.js"></script>
    </head>
    <body class="bg-light">
      <div class="container">
          <div class="row justify-content-center py-2 my-1">
            <h1 class="text-center">Restful Tasks API</h1>
          </div>
          <div class="row justify-content-center py-2 my-1" *ngIf="!tasksFetched">
              <p><button class="btn btn-primary" (click)="getTasks()">GET ALL TASKS</button></p>
          </div>
          <app-tasks *ngIf="tasksFetched" [tasks]="tasks" (fetchTask)="getTask($event)"></app-tasks>
          <app-task *ngIf="taskClicked" [task]="task" (taskToggled)="hideTask()" (taskUpdated)="getTask($event)" (taskDeleted)="getTasks()"></app-task>
          <app-new-task (taskAdded)="ifTasks()"></app-new-task>
        </div>
    </body>
</html>